<%- include('../partials/header') %>
<table>
  <thead>
    <th>ID</th>
    <th>Date</th>
    <th>Stress</th>
    <th>Sleep</th>
    <th>Exercise</th>
    <% context.sugars.forEach( reading => { %>
    <th>Reading</th>
    <% }); %>
  </thead>
  <tbody>
    <tr>
      <td><%= context._id %></td>
      <td><%= context.date %></td>
      <td><%= context.stress %></td>
      <td><%= context.sleep %></td>
      <td><%= context.exercise %></td>
      <% context.sugars.forEach( reading => { %>
         <% if (reading.reading) { %>
      <td><%= reading.reading %></td>
      <% }; %> 
      <% }); %>
      <td><a href="/contexts/<%= context._id %>/edit">Edit Reading</a></td>
    </tr>
  </tbody>
</table>
<%- include('../partials/footer') %>
