/* this is for new page adding records */
body {
  padding: 0;
}

main {
  margin-top: 2.5%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  border: 1px solid var(--acc-bckgrnd);
  border-radius: var(--corners-md);
  width: 95%;
  box-shadow: 5px 10px 5px grey;
  padding-bottom: 1em;
}

h3 {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 1em;
  font-size: 1.5em;
  font-family: "Fugaz One", sans-serif;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form,
.login-form {
  border-top: 1px solid var(--acc-bckgrnd);
  display: flex;
  flex-direction: column;
  background-color: var(--acc-bckgrnd);
  width: 100%;
}

.col {
  display: flex;
  flex-direction: column;
  margin: 1em;
  align-items: stretch;
}

/* .col > * {
    /* display: flex; 
    margin: 0.5em 0.5em 0.5em 0;
    padding: 0.5em 0.5em 0.5em 0;
}  */

button {
  padding: 12px 20px;
  margin: 8px 0;
  border: 3px solid var(--acc-drkr);
  border-radius: var(--corners-sm);
  width: 6em;
  align-self: center;
}

#plus {
  /* padding: 0;
  margin: 0; */
  justify-self: center;
  align-self: center;
  border: 3px outset red;
  border-radius: 1em;
  background-color: white;
  color: red;
  font-weight: 900;
}

label {
  font-family: "Roboto Slab", sans-serif;
  font-size: 1em;
  background-color: var(--acc-bckgrnd);
  margin: 0.5em 0.5em 0.5em 0;
  padding: 0.5em 0.5em 0.5em 0;
}

input,
select {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px double var(--acc-drkr);
  border-radius: var(--corners-sm);
}

.submit {
  background-color: var(--bckgrnd-clr-lt);
  display: flex;
  justify-content: center;
  color: var(--acc-drkr);
  border-radius: var(--corners-sm);
  padding: 1em;
  width: auto;
  font-size: var(--text-md);
  justify-content: center;
  flex-direction: row;
  font-family: "Roboto Slab", sans-serif;
  border: 3px solid var(--acc-bckgrnd);
}

.submit:hover {
  background-color: var(--acc-bckgrnd);
  border: 3px solid var(--bckgrnd-clr);
}

#newSub {
  flex-direction: row;
  justify-content: space-around;
}
/* for responsive just limit the max width to like 85% */
/* also the cols can change back to cols */

@media only screen and (min-width: 768px) {
  .form {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .col {
    justify-content: space-between;
  }
}

/* @media only screen and (min-width: 1135px) {
  .form {
    flex-wrap: nowrap;
  }
} */
